{% extends 'base.html' %}

{% block content %}

{% for post in object_list %}
<h3 style="color:dodgerblue"> <a href="{% url 'detail-post-page' post.pk %}" style="text-decoration: none"> {{ post.title }} </a> </h3>
<p>{{ post.body }}</p>
<small><i>Author by - {{ post.author.first_name }}</i></small>
<br>
<small><a href="{% url 'update-post-page' post.pk %}" style="text-decoration: none;">[Update]</a></small>
<small><a href="{% url 'delete-post-page' post.pk %}" style="text-decoration: none;">[Delete]</a></small>
<hr>
{% endfor %}


{% endblock %}